@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo span{
    font-weight: bold;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links-list{
    list-style: none;
    display: flex;
    gap: 20px;

}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.login-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #ffffff;
    margin: 100px 50px;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.hero img {
    width: 540px;
    margin-right: 20px;
}

.buttons{
    display: flex;
    gap: 10px;
}

.calculate-button{
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.learn-more-button{
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1,5px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.open-menu {
    background:transparent;
    border: none;
    display:none;
}

.close-menu {
    background:transparent;
    border: none;
    display:none;
}

i{
    width: 30px;
    cursor: pointer;    
}

.about {
    display: grid;
    justify-content: center;
    gap: 40px;
    background-color: #ffffff;
    margin: 50px 50px;
}
.about-text{
    display: flex;
    gap: 20px;
}

.bar{
    width: 50px;
    height: 5px;
    background-color: #000000;
    margin:20px 0 20px 0;
    border-radius: 5px;
}

.about-image {
    width: 540px;
    margin-right: 20px;
    border-radius: 10px;
}

.about h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

/* how to use */

.how-to-use {
    display: grid;
    justify-content: center;
    gap: 40px;
    background-color: #ffffff;
    margin: 50px 50px;
}
.how-to-use-text{
    display: flex;
    gap: 20px;
}

.bar{
    width: 50px;
    height: 5px;
    background-color: #000000;
    margin:20px 0 20px 0;
    border-radius: 5px;
}

.how-to-use-image {
    width: 540px;
    margin-right: 20px;
    border-radius: 10px;
}

.how-to-use h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  ol::marker {
    font-weight: bold;
  }

  .how-to-list {
    margin-bottom: 8px;
  }

  /* features */

.features {
    display: grid;
    justify-content: center;
    gap: 40px;
    background-color: #ffffff;
    margin: 50px 50px;
}
.features-text{
    display: flex;
    gap: 20px;
}

.bar{
    width: 50px;
    height: 5px;
    background-color: #000000;
    margin:20px 0 20px 0;
    border-radius: 5px;
}

.features-image {
    width: 540px;
    margin-right: 20px;
    border-radius: 10px;
}

.features h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  ul::marker {
    font-weight: bold;
  }

  .features-list {
    margin-bottom: 8px;
  }

@media (max-width: 768px) {
    .nav-links {
        opacity: 0;
        visibility: hidden;
    }
    .login-button {
        display: none;
    }
   .about-image{
    display: none;
   }
   .about{
    margin: 50px 20px;
   }
   .how-to-use{
    margin: 50px 20px;
   }
   .how-to-use-image {
   display: none;
}
.features{
    margin: 50px 20px;
   }
   .features-image {
   display: none;
}
   
}


@media (max-width: 768px) {
    
    .hero {
        flex-direction: column;
        align-items: center;
        margin: 50px 20px;
        
    }
   
    
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero img {
        display: none;
    }

    .hero-text h1 {
        font-size: 2rem;
        text-align: left;
    }

    .hero-text p {
        font-size: 1rem;
        text-align: left;
    }
    .open-menu {
        display:block;
    }
    .close-menu {
        display:block;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(0%); 
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    }
    
    .nav-links.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0); 
    }
    
    .open-menu {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    .close-menu {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    

    .nav-links.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-links-list{
        flex-direction: column;
        align-items: end;
    }
    .calculate-button, .learn-more-button {
        width: 100%;
    }
    
    
}